<ion-header>
  <ion-toolbar color="primary">
    <ion-title>+ Nueva inspeccion hlb</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main-trampas-amarillas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="inspTraspatioFincaForm" (ngSubmit)="submit()">

    <ion-list>
      
      <ion-radio-group formControlName="tipo" (ionChange)="changeType($event)">
        <ion-list-header>
          <ion-label>
            Tipo
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Traspatio</ion-label>
          <ion-radio value="TRASPATIO"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Productor</ion-label>
          <ion-radio value="PRODUCTOR"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Ticofrut</ion-label>
          <ion-radio value="TICOFRUT"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-label position="stacked">{{poblado_finca_key}}</ion-label>
        <ion-input formControlName="finca_poblado" type="text"></ion-input>
        <ion-button (click)="openPobladosFincasModal()" slot="end">
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{lote_propietario_key}}</ion-label>
        <ion-input formControlName="lote_propietario" type="text"></ion-input>
        <ion-button (click)="openPropieatariosLotesModal()" slot="end">
          <ion-icon slot="icon-only" name="list-outline"></ion-icon>
        </ion-button>
      </ion-item>

      
      <ion-item>
        <ion-label position="stacked">Ciclo</ion-label>
        <ion-input formControlName="ciclo" type="number"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipo === 'PRODUCTOR' || tipo === 'TICOFRUT'">
        <ion-label position="stacked">Calle</ion-label>
        <ion-input formControlName="calle" type="number"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipo === 'PRODUCTOR' || tipo === 'TICOFRUT'">
        <ion-label>Direccion de calle</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="direccion_calle">
          <ion-select-option value="N-S">N-S</ion-select-option>
          <ion-select-option value="S-N">S-N</ion-select-option>
          <ion-select-option value="O-E">O-E</ion-select-option>
          <ion-select-option value="E-O">E-O</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="tipo === 'PRODUCTOR' || tipo === 'TICOFRUT'">
        <ion-label position="stacked">Número de arbol</ion-label>
        <ion-input formControlName="numero_arbol" type="number"></ion-input>
      </ion-item>

      <ion-item *ngIf="tipo === 'PRODUCTOR' || tipo === 'TICOFRUT'">
        <ion-label>Direccion de arbol</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="dir_arbol">
          <ion-select-option value="N-S">N-S</ion-select-option>
          <ion-select-option value="S-N">S-N</ion-select-option>
          <ion-select-option value="O-E">O-E</ion-select-option>
          <ion-select-option value="E-O">E-O</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="tipo === 'PRODUCTOR' || tipo === 'TICOFRUT'">
        <ion-label>Patrón</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="patron">
          <ion-select-option value="FYD">FYD</ion-select-option>
          <ion-select-option value="SWIN">SWIN</ion-select-option>
          <ion-select-option value="CAR">CAR</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="tipo === 'TRASPATIO'">
        <ion-label>Labor</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="labor">
          <ion-select-option value="APLICACION">Aplicacion</ion-select-option>
          <ion-select-option value="CENSO">Censo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="tipo === 'TRASPATIO'">
        <ion-label>Categoria</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="categoria">
          <ion-select-option value="PLANTACION">Plantacion</ion-select-option>
          <ion-select-option value="TRASPATIO">Traspatio</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Variedad</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="variedad">
          <ion-select-option value="NARANJA">Naranja</ion-select-option>
          <ion-select-option value="LIMON">Limón</ion-select-option>
          <ion-select-option value="MANDARINA">Mandarina</ion-select-option>
          <ion-select-option value="TORONJA">Toronja</ion-select-option>
          <ion-select-option value="MARACUYA">Maracuyá</ion-select-option>
          <ion-select-option value="LIMONCILLO">Limoncillo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Sintomatología</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="sintomatologia">
          <ion-select-option value='1'>Si</ion-select-option>
          <ion-select-option value='0'>No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select type="number" value="" okText="Aceptar" cancelText="Cancelar" formControlName="estado">
          <ion-select-option value='0'>Pendiente</ion-select-option>
          <ion-select-option value='1'>Erradicado</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Diagnóstico</ion-label>
        <ion-select type="number" value="" okText="Aceptar" cancelText="Cancelar" formControlName="diagnostico">
          <ion-select-option value='1'>Si</ion-select-option>
          <ion-select-option value='0'>No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Latitud</ion-label>
        <ion-input formControlName="latitud" type="number" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Longitud</ion-label>
        <ion-input formControlName="longitud" type="number" disabled></ion-input>
      </ion-item>

      <ion-button (click)="openMap()">
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>

      <ion-item>
        <ion-label position="stacked">Notas</ion-label>
        <ion-textarea value="" formControlName="notas"></ion-textarea>
      </ion-item>

      <ion-radio-group formControlName="indica_revision" (ionChange)="marcarRegistro($event)">
        <ion-list-header>
          <ion-label>
            Marcar para revisión ?
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Sí</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>No</ion-label>
          <ion-radio value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="mostrarComentario">
        <ion-label position="stacked">Comentario</ion-label>
        <ion-textarea value="" formControlName="comentario"></ion-textarea>
      </ion-item>
      
  
    </ion-list>
  
    <ion-button expand="block" type="submit">Guardar</ion-button>


  </form>

</ion-content>
