<ion-header>
  <ion-toolbar>
    <ion-item lines="none" slot="end" button (click)="logOut()">
      <ion-icon slot="end" name="log-out-outline" size="large"></ion-icon>
    </ion-item>
    <ion-title>Menú principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list lines="none">

      <ion-item button detail [routerLink]="['/menu-inspecciones']">
        <ion-avatar slot="start">
          <ion-icon name="search-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Inspecciones</ion-label>
      </ion-item><br>
      
      <ion-item button detail [routerLink]="['/menu-mantenimientos']">
        <ion-avatar slot="start">
          <ion-icon name="construct-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Mantenimientos</ion-label>
      </ion-item><br>

      <ion-item button detail [routerLink]="['/busqueda-traspatios-gps']">
        <ion-avatar slot="start">
          <ion-icon name="navigate-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Buscar traspatios/fincas por GPS</ion-label>
      </ion-item><br>

      <ion-item button detail [routerLink]="['/settings']">
        <ion-avatar slot="start">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-label>Configuración general</ion-label>
      </ion-item>

    </ion-list>

    <div class="configButton">
      <ion-button fill="outline" color="primary" size="larger" (click)="sincronizar()">
        <!--<ion-icon slot="start" name="swap-vertical-outline"></ion-icon>-->
        <ion-icon size="large" slot="start" name="sync-circle"></ion-icon>
        SINCRONIZAR
      </ion-button>
    </div>
    
</ion-content>
