<ion-header>
  <ion-toolbar>
    <ion-title>Ver/editar inspeccion trampa</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main-inspeccion-trampa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addTrapForm" (ngSubmit)="submit()">

    <ion-list>

      <ion-item>
        <ion-label position="stacked">Número de trampa</ion-label>
        <ion-input formControlName="num_trampa" type="number" readonly></ion-input>
      </ion-item>

      <ion-radio-group formControlName="tipo" (ionChange)="changeType($event)">
        <ion-list-header>
          <ion-label>
            Tipo
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Traspatio</ion-label>
          <ion-radio value="traspatio"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Productor</ion-label>
          <ion-radio value="productor"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Ticofrut</ion-label>
          <ion-radio value="ticofrut"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item *ngIf="isSelectPobladoFincaActive">
        <ion-label>{{poblado_finca_key}}</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="finca_poblado" (ionChange)="pobladoFincaSelectChange($event)">
          <ion-select-option *ngFor="let poblado_finca of poblados_fincas" value={{poblado_finca}}>{{poblado_finca}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="isSelectPropietarioLoteActive">
        <ion-label>{{lote_propietario_key}}</ion-label>
        <ion-select value="" okText="Aceptar" cancelText="Cancelar" formControlName="lote_propietario">
          <ion-select-option *ngFor="let propietario_lote of propietarios_lotes" value={{propietario_lote}}>{{propietario_lote}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Latitud</ion-label>
        <ion-input formControlName="latitud" type="number" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Longitud</ion-label>
        <ion-input formControlName="longitud" type="number" readonly></ion-input>
      </ion-item>

      
      <ion-button (click)="openMap()">
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
      
    </ion-list>
  
    <ion-button expand="block" type="submit">Guardar</ion-button>

  </form>

</ion-content>
