<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="construct-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Menú de mantenimientos</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

  <div class="central">

    <ion-list lines="none">

      <ion-item button detail [routerLink]="['/main-trampas-amarillas']">
        <ion-label>Trampas amarillas</ion-label>
      </ion-item><br>
      <ion-item button detail [routerLink]="['/main-mante-hlb']">
        <ion-label>Traspatios/fincas</ion-label>
      </ion-item><br>
      
    </ion-list>


    <!--<ion-button fill="outline" color="primary" detail="true">
      <ion-icon slot="start" name="star"></ion-icon>
      Inspecciones
    </ion-button>
    <ion-button fill="outline" color="primary">Mantenimientos</ion-button>
    <ion-button fill="outline" color="primary">Configuraciones</ion-button>-->
  </div>

</ion-content>
