<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Menú de inspecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="central">

    <ion-list lines="none">

      <ion-item button detail [routerLink]="['/main-inspeccion-trampa']">
        <ion-avatar slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>Inpecciones de trampas</ion-label>
      </ion-item><br>
      <ion-item button detail [routerLink]="['/main-inspeccion-hlb']">
        <ion-avatar slot="start">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>Inspecciones traspatios/fincas</ion-label>
      </ion-item><br>
      
    </ion-list>


    <!--<ion-button fill="outline" color="primary" detail="true">
      <ion-icon slot="start" name="star"></ion-icon>
      Inspecciones
    </ion-button>
    <ion-button fill="outline" color="primary">Mantenimientos</ion-button>
    <ion-button fill="outline" color="primary">Configuraciones</ion-button>-->
  </div>
</ion-content>
