<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="search-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title>Menú de inspecciones</ion-title>

    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="central">

    <ion-list lines="none">

      <ion-item button detail [routerLink]="['/main-inspeccion-trampa']">
        <ion-label>Inpecciones de trampas</ion-label>
      </ion-item><br>
      <ion-item button detail [routerLink]="['/main-inspeccion-hlb']">
        <ion-label>Inspecciones traspatios/fincas</ion-label>
      </ion-item><br>
      
    </ion-list>

  </div>
</ion-content>
