<ion-header>
  <ion-toolbar>
    <ion-title>Ver/editar traspatio-finca</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main-inspeccion-trampa"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="traspatioFincaForm" (ngSubmit)="submit()">

    <ion-list>

      <ion-radio-group formControlName="tipo" (ionChange)="changeType($event)">
        <ion-list-header>
          <ion-label>
            Tipo
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Traspatio</ion-label>
          <ion-radio value="TRASPATIO" [disabled]="!this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Productor</ion-label>
          <ion-radio value="PRODUCTOR" [disabled]="!this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Ticofrut</ion-label>
          <ion-radio value="TICOFRUT" [disabled]="!this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)"></ion-radio>
        </ion-item>
      </ion-radio-group>

      <ion-item>
        <ion-label position="stacked">País</ion-label>
        <ion-input formControlName="pais" type="text" readonly disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">{{poblado_finca_key}}</ion-label>
        <ion-input formControlName="finca_poblado" type="text" [disabled]="!this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)"></ion-input>
      </ion-item>

      <ion-button *ngIf="this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)" (click)="openModal()">
        <ion-icon slot="icon-only" name="list-outline"></ion-icon>
      </ion-button><br>
      
      <ion-item>
        <ion-label position="stacked">{{lote_propietario_key}}</ion-label>
        <ion-input formControlName="lote_propietario" type="text" [disabled]="!this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Latitud</ion-label>
        <ion-input formControlName="latitud" type="number" disabled></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Longitud</ion-label>
        <ion-input formControlName="longitud" type="number" disabled></ion-input>
      </ion-item>

      <ion-button *ngIf="this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)" (click)="openMap()">
        <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
      
    </ion-list>
  
    <ion-button *ngIf="this.authService.logedUserhavePermission(this.actions.EDITAR_REGISTROS_TRASPATIOS_FINCAS)" expand="block" type="submit">Guardar cambios</ion-button>

  </form>

</ion-content>
