<ion-header [translucent]="false">
  <ion-toolbar color="primary">
    <ion-title>
      App para el control HLB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="flex-container">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <ion-list>
  
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="username" inputmode="text"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
    
        <ion-radio-group (ionChange)="chooseUserType($event)" formControlName="type">
          <ion-list-header>
            <ion-label>
              <h2>Tipo de usuario</h2>
            </ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-label>Super Usuario</ion-label>
            <ion-radio value="super"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Otro</ion-label>
            <ion-radio value="normal"></ion-radio>
          </ion-item>
        </ion-radio-group>
    
        <ion-button expand="block" shape="round" strong="true" type="submit">Ingresar</ion-button>
        
      </ion-list>
    </form>

  </div>
  
</ion-content>
